.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  border: none;
}

.section-wraper {
  padding: 50px 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .section-wraper {
    padding-top: 30px;
  }
}

.inner-title {
  font-size: 28px;
  text-align: center;
  color: #ED1651;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .inner-title {
    font-size: 19px;
    text-align: left;
    color: #ba1a64;
  }
}

.inner-desc {
  font-size: 16px;
  text-align: center;
  color: #333333;
  max-width: 640px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .inner-desc {
    font-size: 14px;
    text-align: left;
    max-width: unset;
  }
}

.color-primary {
  color: #ED1651 !important;
}

.color-secondary {
  color: #FFFFFF !important;
}

.border-light {
  border: 0.5px solid #e4e4e4 !important;
}

.img-70 {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

.btn-transparent {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.h-100 {
  height: 100% !important;
}

button {
  font-family: inherit;
}

.w-100 {
  width: 100% !important;
}

.text-center {
  text-align: center;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.h-100 {
  height: 100% !important;
}

.bg-bege {
  background-color: #FFFDF8;
}

@media screen and (max-width: 768px) {
  .bg-bege {
    background-color: #fdfcfa;
  }
}

.bounce {
  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.float {
  animation: float 6s infinite;
}

.float--fast {
  animation-duration: 4.6s;
  animation-delay: 4.6s;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: lighter;
}

ul li {
  display: block;
  padding: 2px 0;
}

button, a[role="button"] {
  cursor: pointer !important;
}

b {
  font-weight: bold;
}

button:focus {
  outline: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@font-face {
  font-family: 'us-bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/unimedsans_bold.woff") format("woff"), url("../fonts/unimedsans_bold.woff2") format("woff2");
}

@font-face {
  font-family: 'us-book';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/unimedsans_book.woff") format("woff"), url("../fonts/unimedsans_book.woff2") format("woff2");
}

.CSSTransition--fade-enter {
  opacity: 0;
}

.CSSTransition--fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.CSSTransition--fade-exit {
  pointer-events: none;
  opacity: 0;
}

.CSSTransition--fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.CSSTransition--fade-enter {
  opacity: 0;
}

.CSSTransition--fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.CSSTransition--fade-exit {
  position: absolute;
  opacity: 0;
}

.CSSTransition--fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.CSSTransition--modal-enter {
  top: -50vh;
  opacity: 0;
}

.CSSTransition--modal-enter-active {
  opacity: 1;
  top: 20%;
  transition: all 200ms;
}

.CSSTransition--modal-exit {
  position: absolute;
  opacity: 1;
  top: 20%;
}

.CSSTransition--modal-exit-active {
  opacity: 0;
  top: -50vh;
  transition: all 200ms;
}

.btn-transparent {
  background: none !important;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-transparent:active, .btn-transparent:focus {
  border: none;
  outline: none;
}

.btn-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #ED1651;
  margin-right: 6px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-media.btn-facebook {
  background-color: #4B72BB;
}

.btn-media.btn-whataspp {
  background-color: #22C5AE;
  font-size: 12px;
}

.btn-media:hover {
  color: #fff;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.main-footer {
  font-family: 'us-bold';
  position: relative;
  padding: 25px 0;
  width: 100%;
  background-color: #F4F4F4;
  margin-top: auto;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main-footer .container {
    flex-direction: column;
    justify-content: center;
  }
}

.main-footer__copyright {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #333333;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .main-footer__copyright {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .main-footer__copyright span {
    display: block;
  }
  .main-footer__copyright span.divisor {
    display: none;
  }
}

.main-footer__ANS img {
  height: 38px;
}

@media screen and (max-width: 768px) {
  .main-footer__ANS img {
    height: 42px;
  }
}

.inputSearch {
  position: relative;
  width: 100%;
}

.inputSearch input {
  width: 100%;
  background-color: #F7F7F7;
  border: none;
  outline: none !important;
  height: 50px;
  border-radius: 40px;
  padding: 0 10px 0 30px;
  font-size: 16px;
  color: #333333;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.017);
  letter-spacing: .3px;
}

.inputSearch .btn-send {
  content: '';
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-image: url(../images/ico/search.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent !important;
  border: transparent !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.inputSearch .btn-send:hover {
  transform: translateY(-50%) scale(1.08);
}

.inputSearch__item {
  width: 100%;
}

.inputSearch.sm input {
  height: 43px;
}

.inputSearch.sm .btn-send {
  height: 25px;
  width: 25px;
}

.depoimento__img {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.depoimento__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.depoimento__caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.depoimento__caption__title {
  font-size: 16px;
  font-family: 'us-bold';
  text-transform: uppercase;
  letter-spacing: .3px;
  color: #999999;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .depoimento__caption__title {
    width: 98%;
  }
}

@media screen and (max-width: 1200px) {
  .depoimento__caption__title {
    font-size: 15px;
  }
}

.depoimento__caption__desc {
  font-size: 14px;
  color: #333333;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 23px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.depoimento__caption__link {
  color: #ED1651;
  text-decoration: underline !important;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .depoimento__caption__link {
    color: #ba1a64;
  }
}

.depoimento__caption__link:hover {
  color: #c10f40;
}

.depoimento:hover .depoimento__img img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.depoimento:hover .depoimento__caption__title {
  color: #666666;
}

.depoimento:hover .depoimento__caption__link {
  color: #c10f40;
}

.contribuente__img {
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.contribuente__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contribuente__caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contribuente__caption__title {
  font-size: 17px;
  font-family: 'us-bold';
  letter-spacing: .3px;
  color: #999999;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 9px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .contribuente__caption__title {
    width: 98%;
  }
}

.contribuente__caption__desc {
  font-size: 14px;
  color: #333333;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 23px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contribuente__caption__ocupacao {
  display: block;
  font-size: 14px;
  color: #ED1651;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .contribuente__caption__ocupacao {
    font-size: 13px;
    color: #ba1a64;
  }
}

.contribuente__caption__link {
  color: #ED1651;
  text-decoration: underline !important;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .contribuente__caption__link {
    color: #ba1a64;
  }
}

.contribuente__caption__link:hover {
  color: #c10f40;
}

.contribuente:hover .contribuente__img img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.contribuente:hover .contribuente__caption__title {
  color: #666666;
}

.contribuente:hover .contribuente__caption__link {
  color: #c10f40;
}

.home-nav {
  background-color: #fff;
  width: 100%;
  z-index: 5;
}

@media screen and (max-width: 576px) {
  .home-nav {
    display: none;
  }
}

.home-nav__content {
  display: flex;
  justify-content: center;
  padding: 24px 10px;
}

.home-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.home-nav__item {
  position: relative;
  display: block;
  padding: 10px 11px;
  font-size: 16px;
  color: #2A2A2A;
  text-transform: lowercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-nav__item a {
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-nav__item.active > a, .home-nav__item:active > a, .home-nav__item:hover > a {
  color: #ED1651;
}

.home-nav__toggler {
  display: none;
  align-items: center;
  font-size: 28px;
  color: #ED1651;
}

@media screen and (max-width: 992px) {
  .home-nav__toggler {
    display: flex;
  }
}

.ui-menu {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-color: transparent !important;
  width: 86% !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: transparent;
  margin-top: -5px;
}

.ui-menu-item {
  margin: -2px 0 !important;
}

.inputSearch__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px !important;
  background-color: #F4F4F4 !important;
  border: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.inputSearch__item .title {
  color: #2A2A2A;
  font-size: 15px;
}

.inputSearch__item .title .highlighted {
  font-family: 'us-bold';
  font-size: 15px;
  letter-spacing: 1.4;
}

.inputSearch__item .desc {
  font-family: 'us-bold';
  font-size: 13px;
  text-decoration: underline;
}

.inputSearch__item:hover {
  background-color: #ED1651 !important;
  border: none !important;
}

.inputSearch__item:hover .title,
.inputSearch__item:hover .desc {
  color: #fff;
}

.ui-autocomplete {
  opacity: 0;
  display: none;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  pointer-events: none;
}

.ui-autocomplete.opened {
  opacity: 1;
  pointer-events: all;
}

.label-primary {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 15px;
  background-color: #f7f7f7;
  color: #ED1651;
  margin-bottom: 15px;
  margin-right: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.012);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.label-primary:hover, .label-primary.active {
  background-color: #ED1651;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .label-primary {
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-right: 0;
  }
}

.label-primary.outline {
  font-size: 17px;
  background-color: transparent;
  border: 1.7px solid #ba1a64;
  color: #fff;
  padding: 7px 17px;
}

.label-primary.outline:hover {
  background-color: #ba1a64;
}

.share-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.share-list span {
  font-size: 15px;
  font-family: 'us-bold';
  color: #999999;
}

.share-list__medias {
  display: flex;
  justify-content: center;
  padding-top: 7px;
}

.internas-nav {
  background-color: #ED1651;
  width: 100%;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .internas-nav {
    background-color: #ba1a64;
  }
}

.internas-nav__content {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

@media screen and (max-width: 992px) {
  .internas-nav__content {
    justify-content: space-between;
  }
}

.internas-nav__brand {
  margin-right: 50px;
}

@media screen and (max-width: 1200px) {
  .internas-nav__brand {
    margin-right: 30px;
  }
}

.internas-nav__brand img {
  filter: brightness(0) invert(1);
  width: 130px;
}

@media screen and (max-width: 768px) {
  .internas-nav__brand img {
    width: 150px;
  }
}

.internas-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .internas-nav__list {
    display: none;
  }
}

.internas-nav__item {
  position: relative;
  display: block;
  padding: 10px 11px;
  font-size: 16px;
  color: #fff;
  text-transform: lowercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.internas-nav__item a {
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.internas-nav__item.active > a, .internas-nav__item:active > a, .internas-nav__item:hover > a {
  text-shadow: .3px .3px 0 white;
}

@media screen and (max-width: 1200px) {
  .internas-nav__item {
    font-size: 14px;
    white-space: nowrap;
  }
}

.internas-nav__toggler {
  display: none;
  align-items: center;
  font-size: 32px;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .internas-nav__toggler {
    display: block;
  }
}

.internas-nav__search {
  width: 500px;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .internas-nav__search {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  .internas-nav__search {
    width: 600px;
  }
}

.mobile-nav {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 5;
  opacity: 0;
  padding-bottom: 40px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-nav.active {
  pointer-events: all;
  opacity: 1;
}

.mobile-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px;
  margin-bottom: 9%;
}

.mobile-nav__brand img {
  filter: brightness(0) invert(1);
  width: 130px;
}

@media screen and (max-width: 768px) {
  .mobile-nav__brand img {
    width: 150px;
  }
}

.mobile-nav__close {
  font-size: 35px;
  color: #fff;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.mobile-nav__item {
  font-size: 21px;
  color: #fff;
  margin-bottom: 5px;
}

.mobile-nav__item a {
  color: inherit;
}

.mobile-nav__labels {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.mobile-nav__labels span {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.scroll-top {
  position: absolute;
  right: 130px;
  bottom: 430px;
  width: 35px;
  height: 35px;
  background-image: url(../images/ico/scrolltop.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.scroll-top.show {
  opacity: 1;
}

.scroll-top:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.scroll-top:active, .scroll-top:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .scroll-top {
    position: fixed;
    right: 50px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
  .scroll-top {
    right: 25px;
  }
}

.homeSearch {
  width: 100%;
  height: 100%;
}

.homeSearch .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .homeSearch .container {
    padding: 30px 0;
  }
}

.homeSearch__brand {
  margin-bottom: 50px;
}

.homeSearch__brand img {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .homeSearch__brand {
    margin-bottom: 40px;
  }
  .homeSearch__brand img {
    width: 160px;
  }
}

.homeSearch__input {
  width: 660px;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .homeSearch__input {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .homeSearch__input {
    display: none;
  }
}

.homeSearch__topicos__title {
  font-size: 16px;
  color: #2A2A2A;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .homeSearch__topicos__title {
    font-size: 15px;
  }
}

.homeSearch__topicos__title.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .homeSearch__topicos__title.desktop {
    display: block;
  }
}

.homeSearch__topicos__title.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .homeSearch__topicos__title.mobile {
    display: block;
  }
}

.homeSearch__topicos__labels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

@media screen and (max-width: 768px) {
  .homeSearch__topicos {
    width: 60%;
  }
}

.depoimento-page__tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .depoimento-page__tags {
    justify-content: flex-start;
    padding-left: 20px;
  }
}

.depoimento-page__tags .item {
  color: #ED1651;
  font-size: 14px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .depoimento-page__tags .item {
    color: #ba1a64;
  }
}

.depoimento-page__tags .item:hover {
  color: #c10f40;
}

.depoimento-page__autor {
  font-family: 'us-bold';
  color: #999999;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .depoimento-page__autor {
    text-align: left;
    padding-left: 20px;
  }
}

.depoimento-page__more {
  font-family: 'us-bold';
  color: #999999;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .depoimento-page__more {
    font-size: 16px;
    padding: 0 10px;
  }
}

.depoimentos__title {
  font-size: 24px;
  color: #333333;
}

.depoimentos__title strong {
  font-family: 'us-bold';
  color: #ED1651;
}

@media screen and (max-width: 768px) {
  .depoimentos__title strong {
    color: #ba1a64;
  }
}

@media screen and (max-width: 768px) {
  .depoimentos__title {
    font-size: 19px;
    padding-right: 40px;
  }
}

.sobre__img {
  width: 65%;
  margin: 0 auto;
  height: 400px;
}

@media screen and (max-width: 992px) {
  .sobre__img {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .sobre__img {
    width: 100%;
    height: 180px;
  }
}

.sobre__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body {
  position: relative;
  margin: 0;
  background-color: #fff;
  font-family: 'us-book', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  min-height: 100vh;
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 78vh;
}

/*# sourceMappingURL=maps/style.css.map */
