<footer class="main-footer wow fadeInUp">
    <div class="container">
        <p class="main-footer__copyright">
            <span class="d-block">Serviço de atendimento ao Cliente - 0800 77 10 500</span>
            <span>© Unimed Sorocaba 1971-2019</span>
            <span class="divisor">-</span>
            <span>Todos os direitos reservados</span>
            <span class="divisor">-</span>
            <span>CNPJ 45.399.961/0001-59.</span>
        </p>
        <div class="main-footer__brands">
            <img class="main-footer__ANS" src="../images/brands/ans.png" alt="Selo ANS UNIMED" />
            <img class="main-footer__unimed" src="../images/brands/unimed.png" alt="Selo UNIMED" />
        </div>
    </div>
</footer>