<footer class="main-footer wow fadeInUp">
    <div class="container">
        <p class="main-footer__copyright">
            <span>© Unimed Sorocaba 1971-2019</span>
            <span class="divisor">-</span>
            <span>Todos os direitos reservados</span>
            <span class="divisor">-</span>
            <span>CNPJ 45.399.961/0001-59.</span>
        </p>
        <div class="main-footer__ANS">
            <img src="../images/brands/ans.png" alt="Selo ANS UNIMED"/>
        </div>
    </div>
</footer>