<nav id="internas-nav" class="internas-nav wow fadeInDown">
    <div class="internas-nav__content">

        <a href="./index.html">
            <div class="internas-nav__brand wow fadeIn">
                <img src="../images/brands/selo.png" alt="Selo Outubro Rosa UNIMED"></div>
        </a>

        <ul id="internas-nav-menu" class="internas-nav__list wow fadeIn">

            <li class="internas-nav__item active">
                <a href="../pages/sobre.html">Sobre a campanha</a>
            </li>
            <li class="internas-nav__item">
                <a href="../pages/quem-ajuda.html">Conheça quem ajuda</a>
            </li>
            <li class="internas-nav__item">
                <a href="https://www.unimed.coop.br/">Unimed</a>
            </li>
        </ul>

        <form class="internas-nav__search" action="./depoimentos.html">
            <div class="inputSearch sm">
                <input id="inputSearch" placeholder="O que você quer saber sobre o câncer de mama?" />
                <button type="submit" class="btn-send"></button>
            </div>
        </form>

        <button class="internas-nav__toggler btn-transparent nav-toggler">
            <i class="fa fa-bars" alt="Expandir menu"></i>
        </button>
    </div>
</nav>