<nav id="mobile-nav" class="mobile-nav">
    <div class="container position-relative">
        <div class="mobile-nav__header">
            <a href="./index.html">
                <div class="mobile-nav__brand">
                    <img src="../images/brands/selo.png" alt="Selo Outubro Rosa UNIMED"></div>
            </a>

            <button class="mobile-nav__close btn-transparent nav-toggler">
                <i class="fa fa-times" alt="Fechar menu"></i>
            </button>
        </div>

        <ul id="mobile-nav-menu" class="mobile-nav__list">
            <li class="mobile-nav__item active">
                <a href="../pages/sobre.html">Sobre a campanha</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../pages/quem-ajuda.html">Conheça quem ajuda</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../pages/unimed.html">Unimed</a>
            </li>
        </ul>

        <div class="mobile-nav__labels">
            <span>O que você quer saber <br /> sobre o cancer de mama?</span>
            <a href="./depoimentos.html" class="label-primary outline wow fadeInUp">Tratamento</a>
            <a href="./depoimentos.html" class="label-primary outline wow fadeInUp">Cura</a>
            <a href="./depoimentos.html" class="label-primary outline wow fadeInUp">Conscientização</a>
            <a href="./depoimentos.html" class="label-primary outline wow fadeInUp">Medicação</a>
            <a href="./depoimentos.html" class="label-primary outline wow fadeInUp">Cirgurgia</a>
        </div>
    </div>
</nav>