.homeSearch {
    width: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        
        @media screen and (max-width: $bp-MD) {
            padding: 30px 0;
        }
    }

    &__brand {
        margin-bottom: 50px;

        img {
            width: 300px;
        }

        @media screen and (max-width: $bp-MD) {
            margin-bottom: 40px;

            img {
                width: 160px;
            }
        }
    }

    &__input {
        width: 660px;
        margin-bottom: 40px;

        @media screen and (max-width: $bp-LG) {
            width: 80%;
        }

        @media screen and (max-width: $bp-MD) {
            display: none;
        }
    }

    &__topicos {
        &__title {
            font-size: 16px;
            color: $color-dark-200;
            font-weight: 400;
            text-align: center;
            margin-bottom: 16px;

            @media screen and (max-width: $bp-MD) {
                font-size: 15px;
            }

            &.desktop {
                display: none;

                @media screen and (min-width: $bp-MD) {
                    display: block;
                }
            }

            &.mobile {
                display: none;

                @media screen and (max-width: $bp-MD) {
                    display: block;
                }
            }
        }

        &__labels {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 400px;
        }

        @media screen and (max-width: $bp-MD) {
            width: 60%;
        }
    }

}