$color-primary: #ED1651;
$color-primary-mobile: rgb(186, 26, 100);
$color-secondary: #FFFFFF;

$color-dark-100: #333333;
$color-dark-200: #2A2A2A;

$color-light-100: rgb(247, 247, 247);
$color-light-200: #F7F7F7;
$color-light-300: #F4F4F4;

$color-bege:#FFFDF8;

$color-success: #6be786;