
.CSSTransition {
    &--fade {
        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity 200ms;
        }
        &-exit {
            pointer-events: none;
            opacity: 0;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 200ms;
        }
    }
}

.CSSTransition {

    &--fade {
        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity 200ms;
        }
        &-exit {
            position: absolute;
            opacity: 0;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 200ms;
        }
    }

    &--modal {
        &-enter {
            top: -50vh;
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            top: 20%;
            transition: all 200ms;
        }

        &-exit {
            position: absolute;
            opacity: 1;
            top: 20%;
        }

        &-exit-active {
            opacity: 0;
            top: -50vh;
            transition: all 200ms;
        }
    }
}
