@font-face {
    font-family: 'us-bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/unimedsans_bold.woff') format('woff'),
        url('../fonts/unimedsans_bold.woff2') format('woff2');
}

@font-face {
    font-family: 'us-book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/unimedsans_book.woff') format('woff'),
        url('../fonts/unimedsans_book.woff2') format('woff2');
}