a:visited, a:link, a:hover, a:active{
    text-decoration: none;
}

a{
    text-decoration: underline;
}

ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: lighter;

    li{
        display: block;
        padding: 2px 0;
    }
}

button, a[role="button"]{
    cursor: pointer !important;
}

b{
    font-weight: bold;
}


button:focus{
    outline: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1190px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }